.profile-box{
  padding: 20px 10px;
  border-bottom: 1px solid var(--twitter-background)
}

.profile-box-header{
  margin: 10px 0;
}

.profile-box-header > h2 {
  margin: 0;
  margin-bottom: 1px;
  font-weight: 800
}

.profile-box-header > p {
  color: gray
}