.tweet-box {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweet-box > form {
  display: flex;
  flex-direction: column;
}

.tweet-box-input {
  padding: 20px;
  display: flex;
}

.tweet-box-input > input {
  flex: 1;
  font-size: 20px;
  margin-left: 20px;
  border: none;
}

.tweet-box-tweet-button {
  background-color: var(--twitter-color) !important;
  color: white !important;
  font-weight: 900 !important;
  width: 130px !important;
  height: 40px !important;
  border-radius: 30px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
  text-transform: none !important;
}
