<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
    <form action="#" th:action="@{/tweet}" th:object="${tweetForm}" method="post">
        <p>Content: <input type="text" th:field="*{content}" /></p>
        <input type="submit" value="Tweet" />
    </form>

    <table>
        <thead>
        <tr>
            <th>content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${!#lists.isEmpty(tweetArray)}" th:each="tweet : ${tweetArray}">
            <td th:text="${tweet.content}">/td>
        </tr>
        </tbody>
    </table>
</body>
</html>